<?xml version="1.0" encoding="UTF-8"?>
<beans
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:util="http://www.springframework.org/schema/util"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.3.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
">

<!-- bean xml etiketi ile bu sınıfı apllication contexte dahil ediyoruz -->
<!-- 
<bean id="jsonConverter"
class="com.spring.basic.data.exporter.SalaryJsonConverter"></bean>
 
<bean id="Salary"
class="com.spring.basic.model.Salary"></bean>-->

<bean id="dataExporter"
class="com.spring.basic.data.exporter.DataExporter"></bean>
 


</beans>